extends base

block title
    title #{polyglot.t('error title')}

block content
    .proxy-form.error
        h1  #{polyglot.t('error headline')}
        block error-content
            p
                | #{polyglot.t('error reinsurance')}
                br
                | #{polyglot.t('error temporary issue')}
                br
                | #{polyglot.t('error try restart')}
                br
                br
                | #{polyglot.t('error contact cozy team')}

        block error-contact
            ul
                li #{polyglot.t('error contact forum')}
                li #{polyglot.t('error contact email')}
                li #{polyglot.t('error contact irc')}