extends layouts/_base

block title
    title= t('index title')
    meta(name="description", content=t('index description'))


block content
    main(role='application')
      noscript
        section.popup
          header
            a(title='Cozy Website', href='https://cozy.io')
          .container
            h1= t('index noscript title')
            p.help= t('index noscript message')

block js
    script(src="/scripts/vendor.js")
    if env
        script.
            require.register('env', function(exports, require, module) {
              module.exports = !{JSON.stringify(env)}
            })
    script(src="/scripts/app.js", onload="require('initialize');")
