extends base

block title
    title #{polyglot.t('login title')}

block js
    script.
        require('login');
        var LOGIN_SUCCESS_MESSAGE = "#{polyglot.t('login success message')}";
        var RESET_SUCCESS_MESSAGE = "#{polyglot.t('login reset success message')}";
        var LOGIN_BUTTON_LABEL = "#{polyglot.t('login button')}";

block content
    form.proxy-form#proxy-form
        h1
            | #{polyglot.t('login headline')}&nbsp;
            span#username= name
            |,
            br
            | #{polyglot.t('login connection invitation')}
        p.input-wrapper
            input#password-input(type='password', placeholder="#{polyglot.t('login password placeholder')}")
        #btn-wrapper
            .btn-container.right.single
                button#submit-btn #{polyglot.t('login button')}

        .error-box.alert.alert-error
        .error-box.alert.alert-success
        p.additional-line
            a#forgot-password #{polyglot.t('login forget password button')}
