extends base

block title
    title #{polyglot.t('register title')}

block js
    script.
        require('register');
        var REGISTER_BUTTON = "#{polyglot.t('register button')}";
        var REGISTRATION_SUCCEEDED = "#{polyglot.t('register success message')}"

block content
    .proxy-form.register
        h1 #{polyglot.t('register headline')}
        h1 #{polyglot.t('register informations')}
        h1 #{polyglot.t('register instructions')}
        .input-wrapper
            input#email-input(type="text", placeholder="#{polyglot.t('register email placeholder')}")
            span.help
                i.icon
                span.help-info
                    .info #{polyglot.t('register email info')}
                    .valid #{polyglot.t('register email valid')}
                    .invalid #{polyglot.t('register email invalid')}
        .input-wrapper
            input#password-input(type="password",
                placeholder="#{polyglot.t('register password placeholder')}")
            span.help
                i.icon
                span.help-info
                    .info #{polyglot.t('register password info')}
                    .valid #{polyglot.t('register password valid')}
                    .invalid #{polyglot.t('register password invalid')}
        .input-wrapper
            input#password-check-input(type="password",
                placeholder="#{polyglot.t('register check password placeholder')}")
            span.help
                i.icon
                span.help-info
                    .info #{polyglot.t('register check password info')}
                    .valid #{polyglot.t('register check password valid')}
                    .invalid #{polyglot.t('register check password invalid')}
        .input-wrapper
            input#publicName-input(type="text",
                placeholder="#{polyglot.t('register public name placeholder')}")
            span.help
                i.icon
                span.help-info
                    .info #{polyglot.t('register public name info')}
        .input-wrapper
            select#timezone-input
                option(value="", disabled='', selected='') #{polyglot.t('register timezone placeholder')}
                for timezone in timezones
                    option(value="#{timezone}")= timezone

            span.help
                i.icon
                span.help-info
                    .info #{polyglot.t('register timezone info')}

        input#locale-input(type="hidden", value="#{polyglot.currentLocale}")
        p#reinsurance
            | #{polyglot.t('register reinsurance modification')}
            | #{polyglot.t('register reinsurance share')}

        button#submit-btn(disabled="disabled") #{polyglot.t('register button')}

        .alert-error &nbsp;
