extends base

block title
    title #{polyglot.t('reset title')}

block js
    script.
        require('reset');
        var RESET_SUCCESS_MESSAGE = "#{polyglot.t('reset success message')}";
        var RESET_BUTTON = "#{polyglot.t('reset button')}";

block content
    script.
        var key = "#{resetKey}";
    .proxy-form
        h1 #{polyglot.t('reset headline')}
        p #{polyglot.t('reset instructions')}
        p.input-wrapper
            input#password-input(type='password',
                                 placeholder="#{polyglot.t('reset password placeholder')}")
        #btn-wrapper
            .btn-container.right.single
                button#submit-btn #{polyglot.t('reset button')}
        .error-box.alert.alert-error
        .error-box.alert.alert-success
