extends ../layouts/_error

block error-content
    p= t('error not found info')
    p= t('error reinsurance')
    p= t('error try to fix')

    ul
        li= t('error wait a bit')
        li= t('error restart app')
        li= t('error reinstall app')


block error-contact
    // empty!
