extends view_base

block region
    h1 #{t('login welcome')} #{username}
    p.help#login-password-tip= t('login enter your password')
    label.with-input(for="login-password", aria-describedby="login-password-tip")
        span= t('login password')
        input#login-password(type="password")


block controls
    button.btn.btn-primary(type="submit")= t('login sign in')
