extends _view_step_base

block header
    h1=t('step password title')

block region
    p=t('step password description')

    form
        p
            label(for="password")=t('step password label')
            input(type="password", name="password", id="password")

    if error
        p(class="errors")= error

block controls
    button(class="next")= t('step password submit')
    .progression
