#import-google
    img(src="_blank")
    h2= t('import google account')
    p= t('import google account tip')
    button(type="button")= t('import google account sign in')


#import-datas
    img(src="_blank")
    h2= t('import datas')
    p= t('import datas tip')
    button#import-data-calendar(type="button")= t('import datas calendar')
    button#import-data-contacts(type="button")= t('import datas contacts')
