extends _base


block header
    h1=t('step infos title')

block region
    form(id="infos-form")
        p=t('step infos description')

        p(class='line')
            label(for="public_name")=t('step infos public_name label')
            input(
                type="text",
                name="public_name",
                id="public_name",
                value=public_name,
                placeholder=t("step infos public_name placeholder"))
            p.error-label(data-for="public_name")

        p(class='line')
            label(for="email")=t('step infos email label')
            input(
                type="text",
                name="email",
                id="email",
                value=email
                placeholder=t("step infos email placeholder"))
            p.error-label(data-for="email")

        p(class='line')
            label(for="timezone")=t('step infos timezone label')
            select(type="text", name="timezone", id="timezone")
                each label in timezones
                    if(label === timezone)
                        option(value=label, selected="selected")=label
                    else
                        option(value=label)=label

            p.error-label(data-for="timezone")

        p(class="errors")

block controls
    button(class="next", form="infos-form")= t('step infos submit')
    .progression
