extends _base

block header
    h1=t('step password title')

block region
    form(id="password-form")
        p=t('step password description')

        p(class='line')
            label(for="password")=t('step password label')
            button(class='icon', type="button", action="password-visibility", title=t(visibilityTxt))
                svg: use(xlink:href=visibilityIcon)
            input(type=inputType, name="password", id="password" placeholder=t("step password input placeholder"))
        progress.pw-weak(value=passwordStrength.percentage max=100)

        p(class="errors")

block controls
    button(class="next", form="password-form")= t('step password submit')
    .progression
