extends view_base

block region
    h1= t(prefix + ' welcome', {username: username})
    p.help#login-password-tip= t(prefix + ' enter your password', {username: username})
    label.with-input(for="#{prefix}-password", aria-describedby="#{prefix}-password-tip")
        span= t(prefix + ' password')
        input(id="#{prefix}-password" name="password" type="password" autofocus=true)
    if otp
        label.with-input(for="#{prefix}-otp")
            span= t(prefix + ' otp')
            input(id="#{prefix}-otp" name="otp" type="number" autofocus=true autocomplete="off")


block controls
    button.btn.btn-primary(type="submit")= t(prefix + ' submit')
