h2= t('email caption')


label.with-input(for="email-email", aria-describedby="email-email-tip")
    span= t('email email')
    input#email-email(type="email")
    span.indicator


label.with-input(for="email-password")
    span= t('email password')
    input#email-password(type="password")
    span.indicator


.input-group.input-group-02-third
    label.with-input(for="email-server")
        span= t('email server')
        input#email-server(type="text")
        span.indicator

    label.with-input(for="email-port")
        span= t('email port')
        input#email-port(type="number")
        span.indicator


label(for="email-ssl")
    input#email-ssl(type="checkbox")
    span= t('email ssl')


fieldset.advanced
    legend= t('email show advanced')

    .content
        label.with-input(for="email-username", aria-describedby="email-username-tip")
            span= t('email username')
            input#email-username(type="text")
            span.indicator
        p#email-username-tip
            = t('email username tip')

p#email-email-tip.tips
    = t('email email tip')
