extends _base

block header
    if username
        h1= t('login welcome user', {username: username})
    else
        h1= t('login welcome anon')

block region
    form(id="auth-form")
        p.help#login-password-tip= t('login enter your password')

        p.line
            label(
                for="password",
                aria-describedby="login-password-tip"
                )= t('login password')
            button.icon.password-visibility-icon.masked(
                type="button",
                title=t('step password show'),
                name="password-visibility"
                )
            input(id="password" name="password" type="password" autofocus=true)

        p.errors

block controls
    button.next(form="auth-form")= t('login submit')
    // .feedback
