label(for="preset-email", aria-describedby="preset-email-tip")
    span= t('preset email')
    input#preset-email(type="text")
    span.indicator
        i.fa.fa-check
p#preset-email-tip
    = t('preset email tip')


label(for="preset-name", aria-describedby="preset-name-tip")
    span= t('preset name')
    input#preset-name(type="text")
    span.indicator
        i.fa.fa-check
p#preset-name-tip
    = t('preset name tip')


label(for="preset-password", aria-describedby="preset-password-tip")
    span= t('preset password')
    input#preset-password(type="password")
    span.indicator
        i.fa.fa-times
p#preset-email-tip
    = t('preset password tip')


label(for="preset-timezone", aria-describedby="preset-timezone-tip")
    span= t('preset timezone')
    input#preset-timezone(type="text", list="preset-timezone-datalist")
    datalist#preset-timezone-datalist
        each timezone in timezones
            option(value=timezone)
    span.indicator
        i.fa.fa-check
p#preset-timezone-tip
    = t('preset timezone tip')


.checkboxes
    label(for="preset-help-us")
        input(type="checkbox", checked="true")
        span= t('preset opt-in help')

    label(for="preset-mailing")
        input(type="checkbox", checked="false")
        span= t('preset opt-out newsletter')
