extends _view_step_base

block header
    h1=t('step password title')

block region
    p=t('step password description')

    p(class='line')
        label(for="password")=t('step password label')
        button(class='icon', action="password-visibility", title=t(visibilityTxt))
            svg: use(xlink:href=visibilityIcon)
        input(type=inputType, name="password", id="password")
    progress.pw-weak(value=passwordStrength.percentage max=100)

    if error
        p(class="errors")= error

block controls
    button(class="next")= t('step password submit')
    .progression
