extends _base

block header
    h1=t('step agreement title')
    p=t('step agreement subtitle')

block region
    div.agreements
        each figure,index in figures
            div.agreements-element
                figure(id='figure'+index)
                    .svg-wrapper
                        svg: use(xlink:href=figure)
                p=t('step agreement element ' + index)

    div.stats-agreement
        div.checkbox
            input(type="checkbox" checked)
        p=t('step agreement stats')

    p
        span=(t('step agreement description 1') + ' ')
        a(href=cguLink, target="_blank")=t('step agreement description link')
        span=(' ' + t('step agreement description 2'))

    p.errors


block controls
    button(class="next")= t('step agreement next')
