extends _base

block header
    if username
        h1= t(type + " welcome user", {username: username})
    else
        h1= t(type + " welcome anon")

block region
    form(id=type+"-form")
        p.help#login-password-tip=t(type+" enter your password", {username: username})

        p.line
            label(
                for="password",
                aria-describedby="login-password-tip"
                )= t(type + " password")
            button.icon.password-visibility-icon.masked(
                type="button",
                title=t("step password show"),
                name="password-visibility"
                )
            input(id="password" name="password" type="password" autofocus=true)

        p.line
            if otp
                label(for="otp")= t(type + ' otp')
                input(
                    id="otp"
                    name="otp"
                    type="number"
                    autofocus="true"
                    autocomplete="off"
                )

        if(type=='reset')
            progress.pw-weak(value=1, max=100)

        p.errors

block controls
    button(form=type+"-form", type="submit")= t(type + " submit")

    if(type=='login')
        .recover
            span.coz-busy-label
            a.forgot(href="/login/forgot")=t('login recover')
