#import-google.content-block
    .content-illustration.google-services
    h2= t('import google account')

    p= t('import google account tip')
    a#import-google.btn.btn-primary(type="button", href="/register?step=import_google")= t('import google account sign in')



#import-datas.content-block
    .content-illustration.calendar-contacts
    h2= t('import datas')
    p.tips= t('import datas tip')
    .btn-group.btn-group-02
        button#import-data-calendar.btn.btn-secondary(type="button")= t('import datas calendar')
        button#import-data-contacts.btn.btn-secondary(type="button")= t('import datas contacts')
