label.with-input(for="preset-email", aria-describedby="preset-email-tip")
    span= t('preset email')
    input#preset-email(type="email", name="email" autofocus=true, required=true)
    span.indicator
        span.fa.fa-exclamation-triangle
p#preset-email-tip.tips
    = t('preset email tip')


label.with-input(for="preset-name", aria-describedby="preset-name-tip")
    span= t('preset name')
    input#preset-name(type="text", name="public_name", required=true)
p#preset-name-tip.tips
    = t('preset name tip')


label.with-input(for="preset-password", aria-describedby="preset-password-tip")
    span= t('preset password')
    input#preset-password(type="password", name="password", required=true)
    span.indicator
        span.fa.fa-exclamation-triangle
p#preset-email-tip.tips
    = t('preset password tip')


label.with-input(for="preset-timezone", aria-describedby="preset-timezone-tip")
    select#preset-timezone(name="timezone" required=true)
        - var skipstep  = false
        - var lastcont = null
        each timezone, index in timezones
            unless skipstep
                - var cont = timezone.split('/')[0]
                if cont != lastcont
                    - lastcont = cont
                    if index
                        option(disabled=true)= '---'
                if cont.toLowerCase() == 'africa'
                    - skipstep = true
            option(value=timezone)= timezone
    span.indicator
        span.fa.fa-exclamation-triangle
p#preset-timezone-tip.tips
    = t('preset timezone tip')


.checkboxes
    label.checkbox(for="preset-help-us")
        input#preset-help-us(type="checkbox", name="allow_stats", checked=true)
        span= t('preset opt-in help')


button(type="submit", aria-hidden="true")
