p.caption= t('email caption')


label(for="email-email", aria-describedby="email-email-tip")
    span= t('email email')
    input#email-email(type="email")
    span.indicator
        i.fa.fa-check
p#email-email-tip
    = t('email email tip')


label(for="email-password")
    span= t('email password')
    input#email-password(type="password")
    span.indicator
        i.fa.fa-check


label(for="email-server")
    span= t('email server')
    input#email-server(type="text")
    span.indicator
        i.fa.fa-check


label(for="email-port")
    span= t('email port')
    input#email-port(type="number")
    span.indicator
        i.fa.fa-check


label(for="email-ssl")
    input#email-ssl(type="checkbox")
    span= t('email ssl')


fieldset.advanced
    legend= t('email show advanced')

    .content
        label(for="email-username", aria-describedby="email-username-tip")
            span= t('email username')
            input#email-username(type="text")
            span.indicator
                i.fa.fa-check
        p#email-username-tip
            = t('email username tip')
