h2= t('email caption')


label.with-input(for="email-email")
    span= t('email email')
    input#email-email(type="email", name="email", required=true)

label.with-input(for="email-password")
    span= t('email password')
    input#email-password(type="password", name="password", required=true)

.input-group.input-group-02-third
    label.with-input(for="email-imap-server")
        span= t('email imap server')
        input#email-imap-server(type="text", name="imap-server", required=true)

    label.with-input(for="email-imap-port")
        span= t('email imap port')
        input#email-imap-port(type="number", name="imap-port", required=true, value="993")

label.checkbox(for="email-imap-ssl")
    input#email-imap-ssl(type="checkbox", name="imap-ssl", checked=true, aria-controls="email-imap-port")
    span= t('email imap ssl')


fieldset.advanced
    legend= t('email show advanced')

    .content
        label.with-input(for="email-imap-login", aria-describedby="email-imap-login-tip")
            span= t('email imap login')
            input#email-imap-login(type="text", name="imap-login")
        p#email-login-tip.tips
            = t('email imap login tip')
            
        hr
            
        .input-group.input-group-02-third
            label.with-input(for="email-smtp-server")
                span= t('email smtp server')
                input#email-smtp-server(type="text", name="smtp-server")

            label.with-input(for="email-smtp-port")
                span= t('email smtp port')
                input#email-smtp-port(type="number", name="smtp-port", value="465")
                    
        label.checkbox(for="email-smtp-ssl")
            input#email-smtp-ssl(type="checkbox", name="smtp-ssl", checked=true, aria-controls="email-smtp-port")
            span= t('email smtp ssl')
            
        label.with-input(for="email-smtp-login", aria-describedby="email-smtp-login-tip")
            span= t('email smtp login')
            input#email-smtp-login(type="email", name="smtp-login")
        p#email-login-tip.tips
            = t('email smtp login tip')

        label.with-input(for="email-smtp-password", aria-describedby="email-smtp-password-tip")
            span= t('email smtp password')
            input#email-password(type="password", name="smtp-password")
        p#email-login-tip.tips
            = t('email smtp password tip')


p#email-email-tip.tips
    = t('email email tip')
