h1= t('setup title')
p.help= t('setup message')

progress(value="0", max="100")

h1= t('setup on mobile title')
p.help= t('setup on mobile message')
a.btn-store(href="https://play.google.com/store/apps/details?id=io.cozy.files_client", target="_blank")
        img(src=require('../../assets/img/google-play-btn.svg'), alt="Get it on Google Play")
